<div class="table-header-row">
  <div class='table-row-item meter-item'>
    <div class="table-cell name">Meter</div>
    <div class="table-cell allocation">Usage</div>
    <div class="table-cell rate">Rate</div>
    <div class="table-cell amount">Amount Due</div>
  </div>
</div>
<div class="table h-100">
  <% 
    total_due = number_with_delimiter(number_to_currency(@invoice.total), delimiter:',')
    tax_and_fees_due = number_with_delimiter(number_to_currency(@invoice.fees), delimiter:',')

    @invoice.invoice_meters.each do |meter|  %>
      <div class="table-row">
        <div class='table-row-item meter-item' data-href=''>
          <div class="table-cell name">
            <%= meter.reference %>                  
          </div>
          <div class="table-cell allocation"><%= "%.2f" % meter.usage %></div>
          <div class="table-cell rate"><sup>$</sup><%= "%.2f" % meter.rate %></div>
          <div class="table-cell amount"><%= number_with_delimiter(number_to_currency(meter.amount_due), delimiter:',') %></div>
        </div>
      </div>
    <% end %>

    <% current_account.admin_costs.each do |cost| 
      rate = ""
      total = "0.0"
      if (cost.percent)
        rate = cost.percent.to_s + "%"
        total = number_to_currency(@invoice.amount * (cost.percent/100.0))
      else
        rate = " - "
        total = number_to_currency(cost.flat_fee.to_s)
      end
      %>
      <div class="table-row">
        <div class='table-row-item meter-item' data-href=''>
          <div class="table-cell name"><%= cost.label %></div>
          <div class="table-cell allocation"></div>
          <div class="table-cell rate"><%= rate %></div>          
          <div class="table-cell amount"><%= total %></div>
        </div>
      </div>
    <% end %>

    <div class="table-row">
      <div class='table-row-item meter-item expanding-row' data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <div class="table-cell reference">Taxes and Fees</div>
        <div class="table-cell allocation"></div>
        <div class="table-cell amount"><%= tax_and_fees_due %></div>
      </div>
      <div class='table-row-item-description meter-item collapse' id="collapseExample" >
         <div class="table-cell reference font-italic">2.9% Processing Fee</div>
        <div class="table-cell allocation">   </div>
        <div class="table-cell amount"><%= tax_and_fees_due %></div>
      </div>
    </div>
    <div class="table-row">
      <div class='table-totals'>
        <div class="table-cell reference"> </div>
        <div class="table-cell allocation"> </div>
        <div class="table-cell total"><%= total_due %></div>
      </div>
    </div>
</div>