<div class="table-header-row">
  <div class='table-row-item meter-item'>
    <div class="table-cell reference">Meter</div>
    <div class="table-cell allocation">Usage</div>
    <div class="table-cell amount">Amount Due</div>
  </div>
</div>
<div class="table h-100">
  <% 
    invoice_usage = number_with_precision(@invoice.usage, precision: 2, delimiter:',')
    total_due = @invoice.amount + @invoice.fees
    total_due = number_with_delimiter(number_to_currency(total_due), delimiter:',')
    tax_and_fees_due = number_with_delimiter(number_to_currency(@invoice.fees), delimiter:',')

    @invoice.billable_meters.each do |meter|
      if (meter.description?) 
        meter_reference = meter.description 
      else 
        meter_reference = meter.meter.reference 
      end  
      meter_usage = number_with_precision(meter.get_usage(@invoice.start_date,@invoice.end_date), precision:2, delimiter:',')
      meter_amount_due = number_to_currency(meter.get_amount_due(@invoice.start_date,@invoice.end_date))
      %>
      <div class="table-row">
        <div class='table-row-item meter-item clickable-row' data-href=''>
          <div class="table-cell reference">
            <%= meter_reference %>                  
          </div>
          <div class="table-cell allocation"><%= meter_usage %> kWh</div>
          <div class="table-cell amount"><%= meter_amount_due %></div>
        </div>
      </div>
    <% end %>
    <div class="table-row">
      <div class='table-row-item meter-item clickable-row' data-href=''>
        <div class="table-cell reference">Taxes and Fees</div>
        <div class="table-cell allocation"> - </div>
        <div class="table-cell amount"><%= tax_and_fees_due %></div>
      </div>
    </div>
    <div class="table-row">
      <div class='table-totals'>
        <div class="table-cell reference">Totals</div>
        <div class="table-cell allocation"><%= invoice_usage %> kWh</div>
        <div class="table-cell total"><%= total_due %></div>
      </div>
    </div>
</div>