
<div class="row">
  <div class="offset-md-2 col-md-8">
    <h1><%= @title %></h1>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Tenant</th>
          <th>Period</th>
          <th>Amount</th>
          <th class="text-center">Status</th>
          <th colspan="6"></th>
        </tr>
      </thead>

      <tbody>
        <% @invoices.each do |invoice| %>
          <tr class="clickable-row table-row-item <%= (invoice.overdue ? 'overdue':'') %>" 
            data-href='<%= invoice_path(invoice) %>'>
            <td><%= invoice.number %></td>
            <td><%= invoice.tenant.name %></td>
            <td><%= invoice.readable_date %></td>        
            <td><%= number_with_delimiter(number_to_currency(invoice.total),delimiter:',') %></td>
            <td class="text-center"><%= invoice.status %></td>
            <!-- <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
            <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
