<div class="row">
  <div class="offset-2 col-8">
    
    <div class="row">
      <div class="col-2">        
        <div class="contact-image-thumbnail" style="background-image: url(<%= image_url(@invoice.tenant.logo) %>)">
        </div>
      </div>

      <div class="col-5 my-auto">
        <h1><%= @invoice.tenant.name %></h1>
        <h4><%= @invoice.readable_date %></h4>
      </div>
      <div class="col-5 my-auto text-right">
        <h2>Invoice</h2>
        <h4><%= @invoice.number %></h4>
      </div>
    </div>

    </br>

    <%= render 'invoice_line_chart', invoice: @invoice %>

    </br>
    <hr>

    <div class="row">
      <div class="col-12" id="invoice-meter-list">
        <%= render 'invoice_meter_list', invoice: @invoice %>
      </div>
    </div>

    </br>

    <% if (@invoice.status == "unpaid") %>
      <% total = ((@invoice.total) * 100.0).to_i %>
      <div class="text-center">
        <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          </article>
          
          <%= hidden_field_tag 'amount', total %>
          <%= hidden_field_tag 'invoice_id', @invoice.id %>


          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button btn-outline-primary btn-large"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Pay your Invoice"
            data-amount="<%= total %>"
            data-email="<%= current_user.email %>"
            data-locale="auto"></script>
          <% end %>
      </div>
    <% elsif (@invoice.payment != nil)
        payment = @invoice.payment
        payer = payment.email
        date = payment.date
        amount = payment.amount  %>
        </br>
        <div class="text-center">
          <h5><%= payer %> paid <%= number_to_currency(amount) %> on <%= date.strftime("%b %e, %Y") %></h5>
        </div>
    <% end %>
  </div>
</div>

</br>
</br>
    
