<div class="row">
  <div class="offset-2 col-8">
    
    <div class="row">
      <div class="col-2">        
        <div class="contact-image-thumbnail" style="background-image: url(<%= image_url(@invoice.tenant.logo) %>)">
        </div>
      </div>

      <div class="col-5 my-auto">
        <h1><%= @invoice.tenant.name %></h1>
        <h4><%= @invoice.readable_date %></h4>
      </div>
      <div class="col-5 my-auto text-right">
        <h2>Invoice</h2>
        <h4><%= @invoice.number %></h4>
      </div>
    </div>

    </br>

    <%= render 'invoice_line_chart', invoice: @invoice %>
    </br>

    <div data-toggle="collapse" data-target=".daily-summary" class=" show-more-link text-center clickable collapsed">show daily summary</div>   
    <div class="daily-summary collapse">
      <%= render 'invoice_daily_summary', invoice: @invoice %>
    </div>
    

    </br>
    <hr>

    <div class="row">
      <div class="col-12" id="invoice-meter-list">
        <%= render 'invoice_meter_list', invoice: @invoice %>
      </div>
    </div>

    </br>

    <% if (@invoice.status != "paid" && current_user.tenant?) %>
      <% total = ((@invoice.total) * 100.0).to_i %>
      <div class="text-center">
        <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          </article>
          
          <%= hidden_field_tag 'amount', total %>
          <%= hidden_field_tag 'invoice_id', @invoice.id %>
          
          <%= button_tag "Pay Now", class: "payment btn-outline-primary", 'data-disable-with' => "Processing.."  %>

          <% end %>
      </div>
    <% elsif (@invoice.payment != nil)
        payment = @invoice.payment
        payer = payment.email
        date = payment.date
        amount = payment.amount  %>
        </br>
        <div class="text-center">
          <h5><%= payer %> paid <%= number_to_currency(amount) %> on <%= date.strftime("%b %e, %Y") %></h5>
        </div>
    <% end %>
  </div>
</div>

</br>
</br>
    
<script>
  $('.payment').mousedown(function(event){

        paymentButton = $('.payment');

        var total = <%= "%.2f" % @invoice.total %>;
        
        alertString = 'Are you sure?\r\nYour connected bank account will be charged $' +  total;

        swal({
          title: "",
          text: alertString,
          icon: "warning",
          buttons: ["Cancel", "Pay Now"],
          dangerMode: true
        }).then((value) => {
          if (!value) {
            event.preventDefault();
          }else {
            paymentButton.click();
          }
        });


      });

  $('.show-more-link').click(function(event){
    $(this).text(($(this).text() == 'show daily summary' ? 'hide daily summary' : 'show daily summary'));
  });
</script>
