     
<h4 class="text-muted">Configured Meters</h4>
<div class="table-header-row">
  <div class='table-row-item meter-item'>
    <div class="table-cell reference">Reference</div>
    <div class="table-cell allocation">Rate</div>
    <div class="table-cell link">Delete</div>
  </div>
</div>
<div id="configured-meter-list" class="h-100">
  <div class="table h-100">
    <% if (current_account.billable_meters.all.count > 0)
      current_account.billable_meters.all.each do |meter| 
        if (meter.description?) 
          meter_reference = meter.description 
        else 
          meter_reference = meter.meter.reference 
        end  %>
        <div class="table-row">
          <div class='table-row-item meter-item'>
            <div class="table-cell reference">
              <%= meter_reference %>
            </div>
            <div class="table-cell allocation">
              <a href="#" class="editable-allocation" data-type="select" data-resource="billable_meter" data-value="<%= meter.rate.id %>" data-pk="<%= meter.id %>" data-name="rate_id" data-url="<%= billable_meter_path(meter) %>">
                <%= meter.rate.rate.to_s + "/" + meter.rate.symbol %>
              </a>
            </div>
            <div class="table-cell link"><%= link_to '✕', meter, method: :delete, data: { confirm: "Are you sure you would like to remove this meter?" } %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>

  var rate_options = <%= raw current_account.rates.order(:id).map { |rate| {  value:rate.id, text:rate.rate.to_s + "/" + rate.symbol }}.to_json %>;

  $(document).ready(function() {

    $('.editable-allocation').editable({  
      source: rate_options
    });
  });
</script>