<div class="row h-100 lightbox">
  <button type="button" class="close" aria-label="Close" onclick="closeLightbox();">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="col-12 text-center my-auto">
    
    <h1 class="text-center">Configure a Meter</h1>
    <h3 class="text-muted text-uppercase">for <%= @tenant.name %></h3>
    <hr style="padding: 0 40px;"/>
    </br>

    <%= form_for(billable_meter, html: {class: "h-100",remote:true}) do |f| %>
      
      <div class="row h-100">

        <div  class="col-xs-12 col-md-6">
        <h3>Data Source</h3>
        <div id="meter-list">

          <div class="table">    
          <% current_site.meters.each do |meter| %>
            <div class="table-row">
              <div class='table-row-item space-item clickable-row' id="<%= meter.id %>" >
                <div class="table-cell full-width"><%= meter.reference %></div>
              </div>
            </div>
          <% end %>
          </div>
        </div>

        <div class="field">
          <input type="text" id="meter-filter" onkeydown="addFilterSeparator()" onkeyup="filterList()" placeholder="Filter points..">
        </div>
      </div>

        <div class="col-xs-12 col-md-6">
          <%= render 'errors/form_errors', object: billable_meter %>
          <h3>Options</h3>
          <div class="field">
            <%= f.text_field :description, placeholder: "description (optional)", size: 200 %>
          </div>
          </br>
          <div class="field">            
            <%= f.number_field :percent_allocation, placeholder: "\% Allocation (100\% if blank)", size: 200 %>
          </div>
          </br>
          
          <div class="field">
            <% defaultOption = options_for_select([[]]) %>
            <% options = options_from_collection_for_select(current_account.rates, 'id', 'symbol') %>
            <%= f.select :rate_id, defaultOption << options, {}, id: "rate-select", include_blank: true %>
          </div>
          </br>

          <%= f.hidden_field :meter_id, :id => "meter-id" %>
          <%= f.hidden_field :tenant_id, :value => @tenant.id %>

          <div class="actions">
            <%= f.submit id: "login-button", class: "btn-outline-primary", value: "Create" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">

  jQuery(document).ready(function($) { 
    $(".clickable-row").mousedown(function() {
      $(".clickable-row").removeClass("selected")
      selectedMeter = $(this)
      selectedMeter.addClass("selected")
      $('#meter-id').val(selectedMeter.attr('id'));
    });

    $('select#rate-select').select2({
      theme: "bootstrap",
      minimumResultsForSearch: Infinity,
      placeholder: "Rate",
      dropdownParent: $('.lightbox'),
      allowClear: false
    });

  });

  function addFilterSeparator() {
    if(event.keyCode == 13) {
      var input = document.getElementById('meter-filter');
      if (input.value) {
        input.value += ",";
      }
      event.preventDefault();
      return false;
    }
  }

  function filterList() {
    var input, filter, ul, li, a;
    input = document.getElementById('meter-filter');
    filter = input.value.toUpperCase();
    ul = document.getElementById("meter-list");

    var tableRows = $("#meter-list.table-row-item");
        
    var KeyID=event.keyCode;
    
    if (KeyID == 188){
      return;
    }else if (KeyID == 8 || KeyID == 46 || filter.length == 0){
      tableRows = $("#meter-list .table-row-item");
    }else{
      tableRows = $("#meter-list .table-row-item:visible");
    }
    
    var filters = filter.split(",").filter(function(e){return e});
    
    for (var i = 0; i<tableRows.length;i++){
      meterItem = tableRows[i];
      meterItemText = meterItem.innerHTML.toUpperCase();
      
      var show = filters.filter(filterItem => 
        filterItem != '' && meterItemText.indexOf(filterItem) >= 0)
        .length == filters.length;
        
      if (show) {
        tableRows[i].style.display = "";
      } else {
        tableRows[i].style.display = "none";
      }
    }
  }

</script>