<div class="row h-100 lightbox">
  <button type="button" class="close" aria-label="Close" onclick="closeLightbox();">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="col-12 text-center my-auto">
    <h2>Create a New Tenant</h2>
    <h4>for Kenosha Office Park</h4>
    </br>
    <%= form_with(model: space, local: true) do |form| %>
      <div id="login-form">
        <% if space.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>

            <ul>
            <% space.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        </br>
        <div class="field">
          <%= form.text_field :name, id: :space_name, placeholder: "name" %>
        </div>
        </br>
        <div class="field">
          <%= form.text_field :description, id: :space_description, placeholder: "description" %>
        </div>
        </br>
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
