<%= form_for(meter) do |f| %>
  <% if meter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meter.errors.count, "error") %> prohibited this meter from being saved:</h2>

      <ul>
      <% meter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :reference %>
    <%= f.text_field :reference %>
  </div>

  <div class="field">
    <%= f.label :last_collection %>
    <%= f.text_field :last_collection %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
