
</br>
<% i=0 %>
<div class="table">
    <% @user.billing_cycles.drop(1).each do |date,invoices| %>
      <div class="table-row">
          <h4 data-toggle="collapse" data-target=".accordion-<%= i %>" class="text-center panel-heading clickable collapsed"><%= date %></h4>
      </div>      
      <div class="accordion-<%= i %> collapse table-row-grouping">
        <% invoices.each do |invoice| %>
        <div class="table-row-item clickable-row" data-href='<%= invoice_path(invoice) %>'>
          <div width="70%" class="col-6 table-cell"><%= invoice.tenant.name %></div>
          <div width="15%" class="col-3 table-cell text-center"><%= number_with_delimiter(number_to_currency(invoice.amount),delimiter:',') %></div>
          <div width="15%" class="col-3 table-cell text-center"><%= invoice.status %></div>
        </div>
        <% end %>
      </div>
    <hr />
    <% i+=1 %>
    <% end %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>