<div class="row" id="user-header">
  <div class="offset-3 col-2 header-icon">
    <a href="<%= tenants_path %>"><%= image_tag 'tenants-icon.png' %></a>
    Tenants
  </div>
<!--   <div class="col-2 header-icon">
    <a href="<%= spaces_path %>"><%= image_tag 'spaces-icon.png' %></a>
    Spaces
  </div> -->
  <div class="col-2 header-icon">
    <a href="<%= invoices_path %>"><%= image_tag 'invoices-icon.png' %></a>
    Invoices
  </div>
  <div class="col-2 header-icon">
    <a href="<%= '#' %>"><%= image_tag 'settings-icon.png' %></a>
    Account
  </div>
</div>