
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
   <div id="login-form">
    <h4>Change your password</h4>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    </br>
    <div class="field">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "New password" %>
    </div>
    
    </br>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password" %>
    </div>
    
    </br>

    <div class="actions">
      <%= f.submit id: "login-button", class: "btn-outline-primary", value:"Update Password" %>
    </div>
  </div>
<% end %>
