
  <div id="rate-config-list">          
    <h4 class="text-muted">Rates</h4>
      <div class="table-header-row">
        <div class='table-row-item rate-item'>
          <div class="table-cell symbol">Symbol</div>
          <div class="table-cell rate">Rate</div>
          <div class="table-cell description">Description</div>
          <div class="table-cell symbol">Delete</div>          
        </div>
      </div>
    <div id="rate-list">
      <div class="table h-100">
        <% 
        if (rates != nil)
          rates.each do |rate| %>
            <div class="table-row">
              <div class='table-row-item rate-item'>
                <div class="table-cell symbol"><sup>&nbsp;</sup>
                  <a href="#" class="editable" data-type="text" data-resource="rate" data-name="symbol" data-url="<%= rate_path(rate) %>">
                    <%= rate.symbol %>
                  </a>
                </div>

                <div class="table-cell rate"><sup>$</sup>
                  <a href="#" class="editable" data-type="number" data-resource="rate" data-name="rate" data-url="<%= rate_path(rate) %>">
                    <%= rate.rate %>
                  </a>
                </div>
                <div class="table-cell description"><sup>&nbsp;</sup>
                  <a href="#" class="editable" data-type="text" data-resource="rate" data-name="description" data-url="<%= rate_path(rate) %>">
                    <%= rate.description %>
                  </a>
                </div>
                <div class="table-cell link"><%= link_to '✕', rate, method: :delete, data: { confirm: "Are you sure you would like to remove this rate?" } %></div>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="table-row">
          <div class='table-row-item rate-item'>
            <% rate = Rate.new %>
            <%= form_with(model: rate, local: true) do |form| %>

              <div class="inline-field table-cell symbol">
                <%= form.label :symbol, class: "sr-only" %>
                <%= form.text_field :symbol, id: :rate_symbol, required: true, placeholder: "Symbol" %>
              </div>

              <div class="inline-field table-cell rate">
                <%= form.label :rate, class: "sr-only"  %>
                <%= form.text_field :rate, id: :rate_rate, onkeypress:"return isNumberKey(event)", placeholder: "Rate" %>
              </div>

              <div class="inline-field table-cell description">
                <%= form.label :description, class: "sr-only"  %>
                <%= form.text_field :description, id: :rate_description, placeholder: "Description" %>
              </div>

              <%= form.hidden_field :account_id, :value => account.id %>

              <div class="actions inline-field table-cell symbol">
                <%= form.submit class: "btn-primary", value: "Add" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-bottom: 0;"/>
  </div>

  <script>
    function isNumberKey(evt)
     {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31 
          && (charCode < 48 || charCode > 57))
           return false;

        return true;
     }

    $.fn.editable.defaults.mode = 'inline';

    $(document).ready(function() {
      $('.editable').editable();  
    });
    
  </script>
