<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @rate.symbol %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @rate.rate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rate.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @rate.user %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
