<%= form_with(model: tenant_fee, local: true) do |form| %>
  <% if tenant_fee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenant_fee.errors.count, "error") %> prohibited this tenant_fee from being saved:</h2>

      <ul>
      <% tenant_fee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tenant %>
    <%= form.text_field :tenant, id: :tenant_fee_tenant %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :tenant_fee_amount %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :tenant_fee_amount %>
  </div>

  <div class="field">
    <%= form.label :recurring %>
    <%= form.check_box :recurring, id: :tenant_fee_recurring %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
