<p id="notice"><%= notice %></p>

<p>
  <strong>Tenant:</strong>
  <%= @tenant_fee.tenant %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @tenant_fee.amount %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @tenant_fee.amount %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @tenant_fee.recurring %>
</p>

<%= link_to 'Edit', edit_tenant_fee_path(@tenant_fee) %> |
<%= link_to 'Back', tenant_fees_path %>
