<!DOCTYPE html>
<html>
  <head>
    <title>Elysium</title>
    <%= csrf_meta_tags %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <% if flash[:notice] %>
      <script language='javascript'>
        $(document).ready(function() {
          <%= fading_flash_notice %>
        });
      </script>
    <% end %>
  </head>

  <body>    
    <%= render "navigation/nav" %>
    <%= render "navigation/menu" %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
